<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="TestingConsolePackage" />
    </StandardDirectory>
	  <Directory Id ="ProgramMenuFolder">
		  <Directory Id ="ApplicationProgramFolder" Name="TestConsole"/>
	  </Directory>
  </Fragment>
</Wix>
